@page
@model IndexModel
@{
}

<div class="text-center">
    <h1 class="display-4">Welcome to "IUT SIKS" Member List</h1>
    <hr/>
</div>
<div>
    <h2>Features of Members:</h2>
    <ul>
        <li><h4>Name</h4></li>
        <li><h4>Image</h4></li>
        <li><h4>Batch</h4></li>
        <li><h4>Department</h4></li>
        <li><h4>Phone Number</h4></li>
    </ul>
</div>